@media only screen and (max-width: 768px) {
  .header {
    justify-content: center;
  }

  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }
  .login__container--remember-me {
    align-items: center;
  }
  .login__container--remember-me label {
    display: flex;
    align-items: center;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 21px;
    margin-top: -2px;
    justify-content: space-evenly;
  }
}
